<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YTDraggablePlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC42478B1CEE3E1C009D960F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC42479F1CEE3E1C009D960F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC4247AA1CEE3E1C009D960F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
